[project]
	description = My dotfiles for vim, zsh, dwm, tmux and git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gediminas Morkevicius (l3pp4rd)
[access "refs/for/refs/*"]
	read = group user/Gediminas Morkevicius (l3pp4rd)
	push = group user/Gediminas Morkevicius (l3pp4rd)
	label-Code-Review = -2..+2 group user/Gediminas Morkevicius (l3pp4rd)
	label-Verified = -1..+1 group user/Gediminas Morkevicius (l3pp4rd)
	rebase = group user/Gediminas Morkevicius (l3pp4rd)
	removeReviewer = group user/Gediminas Morkevicius (l3pp4rd)
	submit = group user/Gediminas Morkevicius (l3pp4rd)
[access "refs/heads/*"]
	read = group user/Gediminas Morkevicius (l3pp4rd)
	create = group user/Gediminas Morkevicius (l3pp4rd)
	push = +force group user/Gediminas Morkevicius (l3pp4rd)
	pushMerge = group user/Gediminas Morkevicius (l3pp4rd)
[access "refs/tags/*"]
	push = +force group user/Gediminas Morkevicius (l3pp4rd)
	pushTag = group user/Gediminas Morkevicius (l3pp4rd)
	pushSignedTag = group user/Gediminas Morkevicius (l3pp4rd)
